<div class="row">
	<div class="col-xs-3">{{$ctrl.candidate._id}}</div>
	<div class="col-xs-3">{{$ctrl.candidate.name}}</div>
</div>
<div class="row">
 	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-1">
		<button ng-click="$ctrl.delete($ctrl.candidate._id)">
			Delete
		</button>
	</div>
</div>
<candidate-election ng-repeat="candidateElection in $ctrl.candidate.candidateElections | filter:{electionId:$ctrl.electionId}:$ctrl.filterByElectionId" candidate-election="candidateElection" candidate-name="$ctrl.candidate.name" election-id="$ctrl.electionId" voters="$ctrl.voters" on-vote-save="$ctrl.candidateVoteOnSave(voteData)"></candidate-election>
