<div class="row">
 	<label class="col-xs-2">Vote as:</label>
    <select name="voterSelect" class="col-xs-3" 
    	ng-options="voter.name for voter in $ctrl.voters track by voter._id"
			ng-model="$ctrl.selectedVoter"">
    </select>
	<label class="col-xs-1">Value</label>
	<input class="col-xs-2" ng-model="$ctrl.value" type="text" required>
</div>
<div class="row">
	<div class="col-xs-1">
		&nbsp;	
	</div>
	<div class="col-xs-1">
		<button ng-click="$ctrl.save()">
			Save
		</button>
	</div>
	<div class="col-xs-1">
		<button ng-click="$ctrl.cancel()">
			Cancel
		</button>
	</div>
</div>
