<div class="row">
	<div class="col-xs-3">{{$ctrl.candidate._id}}</div>
	<div class="col-xs-3">{{$ctrl.candidate.name}}</div>
	<div class="col-xs-2">{{$ctrl.candidate.value}}</div>
	<div class="col-xs-3">{{$ctrl.candidate.electionId}}</div>
</div>
<div class="row">
 	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-1">
		<button ng-click="$ctrl.delete($ctrl.candidate._id)">
			Delete
		</button>
	</div>
</div>
<candidate-election ng-repeat="candidateElection in $ctrl.candidate.candidateElections" candidate-election="candidateElection" candidate-name="$ctrl.candidate.name" on-vote-save="$ctrl.candidateVoteOnSave(voteData)"></candidate-election>
