<div class="container">
	<div class="row">
		Candidates
	</div>
	<div class="row">
		<div class="col-xs-3">Id</div>
		<div class="col-xs-3">Name</div>
	</div>
	<candidate-detail ng-repeat="candidate in $ctrl.candidates" candidate="candidate" election-id="$ctrl.electionId" on-delete="$ctrl.delete(_id)" on-vote-save="$ctrl.saveVote(voteData)" voters="$ctrl.voters"></candidate-detail>
	<div class="row">
		<button ng-click="$ctrl.addCandidateShow()">Add Candidate</button>
	</div>
	<div ng-show="$ctrl.showAddPanel">
		<candidate-add on-save="$ctrl.addCandidateOnSave(candidateData)" on-cancel="$ctrl.addCandidateOnCancel()" elections="$ctrl.elections">
		</candidate-add>
	</div>
</div>
