<div class="container">
	<div class="row">
		Candidates
	</div>
	<div class="row">
		<div class="col-xs-3">Id</div>
		<div class="col-xs-3">Name</div>
		<div class="col-xs-2">Value</div>
		<div class="col-xs-3">ElectionId</div>
	</div>
	<candidate-detail ng-repeat="candidate in $ctrl.candidates" candidate="candidate"
		on-delete="$ctrl.delete(_id)" on-vote-save="$ctrl.saveVote(voteData)"></candidate-detail>
	<div class="row">
		<button ng-click="$ctrl.addCandidateShow()">Add Candidate</button>
	</div>
	<div ng-show="$ctrl.showAddPanel">
		<candidate-add on-save="$ctrl.addCandidateOnSave(candidateData)" on-cancel="$ctrl.addCandidateOnCancel()">
		</candidate-add>
	</div>
</div>
