<div class="container">
	<div class="row">
		CandidateDetail
	</div>
	<form name="candidateInput">
		<div class="row">
			<label class="col-xs-3">Candidate name:</label>
			<input class="col-xs-4" ng-model="candidateAdd.name" type="text" required>
		</div>
		<div class="row">
			<button ng-click="candidateAdd.save()">
				Save
			</button>
			<button ng-click="candidateAdd.cancel()">
				Cancel
			</button>
		</div>
	</form>
</div>

	<div class="row">
	    <pre>{{candidateAdd.candidates}}</pre>
		<!-- <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre> -->
	</div>
