<div class="container">
	<div class="row">
		Candidates
	</div>
	<div class="row">
		<div class="col-xs-3">Name</div>
		<div class="col-xs-2">Value</div>
		<div class="col-xs-3">Actions</div>
	</div>
	<div ng-repeat="candidate in candidates.candidates">
		<div class="row">
			<div class="col-xs-3">{{candidate.name}}</div>
			<div class="col-xs-2">{{candidate.value}}</div>
			<div class="col-xs-3">
				<button ng-click="candidates.delete(candidate._id)">
					Delete
				</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="candidates.vote(candidate._id)">
					Vote
				</button>
			</div>
		</div>
		<div class = "row">
			<div class="col-xs-5">Votes for {{candidate.name}}:</div>
		</div>
		<div ng-repeat="vote in candidate.votes">
			<div class = "row">
				<label class="col-xs-4">{{vote.voterId}}</label>
				<label class="col-xs-1">{{vote.value}}</label>
				<label class="col-xs-3">{{vote.starttime | date: 'MM/dd/yyyy h:mma'}}</label>
				<label class="col-xs-3">{{vote.endtime | date: 'MM/dd/yyyy h:mma'}}</label>
				<label class="col-xs-1">{{vote.expired}}</label>				
			</div>
		</div>
	</div>
	<div class="row">
		<button ng-click="candidates.addCandidate()">
			Add Candidate
		</button>
	</div>
</div>


	<div class="row">
	    <pre>{{candidates.candidates}}</pre>
	</div>
