<div class="container">
	<div class="row">
		Candidates
	</div>
	<div class="row">
		<div class="col-xs-3">Name</div>
		<div class="col-xs-2">Value</div>
		<div class="col-xs-3">Actions</div>
	</div>
	<candidate-detail ng-repeat="candidate in candidatesList.candidates" candidate="candidate" 
		onDelete="delete" onVote="vote"></candidate-detail>

	<div class="row">
		<button ng-click="candidatesList.addCandidate()">
			Add Candidate
		</button>
	</div>
</div>



	<div class="row">
	    <pre>{{candidatesList.candidates}}</pre>
	</div>
