<div class="container">
	<div class="row">
		Elections
	</div>
	<div class="row">
		<div class="col-xs-3">Id</div>
		<div class="col-xs-2">Name</div>
	</div>
	<election-detail ng-repeat="election in $ctrl.elections" election="election"
		on-delete="$ctrl.delete(_id)" on-candidates-select-save="$ctrl.saveCandidatesSelection(candidateIdsList)"></election-detail>
	<div class="row">
		<button ng-click="$ctrl.addElection()">
			Add Election
		</button>
	</div>
	<div ng-show="$ctrl.showAddPanel">
		<election-add on-save="$ctrl.addElectionOnSave(electionData)" on-cancel="$ctrl.addElectionOnCancel()"></election-add>
	</div>
</div>

