<div class="row">
	<div class="col-xs-3">{{$ctrl.election._id}}</div>
	<div class="col-xs-2">{{$ctrl.election.name}}</div>
	<div class="col-xs-1">{{$ctrl.election.winThreshhold}}</div>
	<div class="col-xs-1">{{$ctrl.election.voteSustainDuration}}</div>
	<div class="col-xs-1">{{$ctrl.election.voterDormancyDuration}}</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<button ng-click="$ctrl.showSetCandidates()">
			Set Candidates
		</button>
	</div>
	<div class="col-xs-3">
		<button ng-click="$ctrl.showCandidatesList()">
			Candidate Details
		</button>
	</div>
	<div class="col-xs-1">
		<button ng-click="$ctrl.delete($ctrl.election._id)">
			Delete
		</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-1">
		<label>&nbsp;</label>
	</div>
	<div class="col-xs-1">
		<label>Candidates: </label>
	</div>
	<div class="col-xs-10">
		<div class="col-xs-2">{{$ctrl.election.candidateIds}}</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-1">
		<label>&nbsp;</label>
	</div>
	<div class="col-xs-1">
		<label>Voters: </label>
	</div>
	<div class="col-xs-110">
		<div class="col-xs-2">{{$ctrl.election.voterIds}}</div>
	</div>
</div>
<div ng-show="$ctrl.showCandidatesListPanel">
	<candidates-list candidates-in-election="$ctrl.election.candidateIds"></candidates-list>
	<div class="row">
		<div class="col-xs-1">
			<label>&nbsp;</label>
		</div>
		<div class="col-xs-3">
			<button ng-click="$ctrl.closeCandidatesList()">
				Close
			</button>
		</div>
	</div>
</div>
<div ng-show="$ctrl.showCandidatesSelectPanel">
	<election-set-candidates on-save="$ctrl.candidatesSelectOnSave(candidateIdsList)" candidate-ids="$ctrl.election.candidateIds" on-cancel="$ctrl.candidatesSelectOnCancel()"></election-set-candidates>	
</div>

