<div class="container">
	<div class="row">
		ElectionDetail
	</div>
	<form name="electionInput">
		<div class="row">
			<label class="col-xs-3">Election name:</label>
			<input class="col-xs-4" ng-model="electionDetail.name" type="text" required>
		</div>
		<div class="row">
			<button ng-click="electionDetail.save()">
				Save
			</button>
			<button ng-click="electionDetail.cancel()">
				Cancel
			</button>
		</div>
	</form>
</div>

	<div class="row">
	    <pre>{{electionDetail.elections}}</pre>
		<!-- <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre> -->
	</div>
