<div class="container">
	<div class="row">
		Elections
	</div>
	<div class="row">
		<div class="col-xs-3">Id</div>
		<div class="col-xs-2">Name</div>
	</div>
	<election-detail ng-repeat="election in electionsList.elections" election="election"
		on-delete="electionsList.delete(_id)" on-candidates-select-save="electionsList.saveCandidatesSelection(candidateIdsList)"></election-detail>
	<div class="row">
		<button ng-click="electionsList.addElection()">
			Add Election
		</button>
	</div>
	<div ng-show="electionsList.showAddPanel">
		<election-add on-save="electionsList.addElectionOnSave(electionData)" on-cancel="electionsList.addElectionOnCancel()"></election-add>
	</div>
</div>
