Elections
<br/>
{{'yet' + '!!!'}}
<br/>
something_{{elections.jbtest}}_x
<br/>
{{$ctrl.phone.description}}
<br/>

	<div class="row">
	    <pre>{{elections.elections}}</pre>
		<!-- <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre> -->
	</div>
	<div class="row">
	    <pre>{{elections.voters}}</pre>
		<!-- <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre> -->
	</div>
	<div class="row">
	    <pre>{{elections.candidates}}</pre>
		<!-- <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre> -->
	</div>
