<div class="container">
	<div class="row">
		Voters
	</div>
	<div class="row">
		<div class="col-xs-3">Id</div>
		<div class="col-xs-3">Name</div>
		<div class="col-xs-2">Password</div>
		<div class="col-xs-1">Actions</div>
	</div>
	<div ng-repeat="voter in votersList.voters">
		<div class="row">
			<div class="col-xs-3">{{voter._id}}</div>
			<div class="col-xs-3">{{voter.name}}</div>
			<div class="col-xs-2">{{voter.password}}</div>
			<div class="col-xs-1">
				<button ng-click="votersList.delete(voter._id)">
					Delete
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<button ng-click="votersList.addVoter()">
			Add Voter
		</button>
	</div>
	<div ng-show="votersList.showAddPanel">
		<voter-add on-save="votersList.addVoterOnSave(voterData)" on-cancel="votersList.addVoterOnCancel()"></voter-add>
	</div>
</div>
